* {
    font-family: Segoe UI;
	font-weight: normal;
	box-sizing: border-box;
	margin: 0;
}

html {
    background-color: #e5e5e5;
	margin: 0;
}
nav {
    padding-bottom: 1em;
    background-color: #FFFFFF;
    display: flex;
    position: fixed;
    width: 100%;
	z-index: 2;
}
nav img {
    margin-left: 2.5em;
    margin-top: 1.2em;
}
}
nav a {
    color: #0079D3;
    text-decoration: none;
    padding-left: 0.9em;
    transition: 0.4s ease;
    font-size: 0.8em;
}


nav ul {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 1em;
    padding-left: 12em;
}

nav ul li {
    margin-left: 2rem;
    margin-right: 2rem;
    align-content: space-between;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.3rem;
	position: relative;
	transition: 400ms cubic-bezier(0.48, 0.33, 0.68, 0.37);
}

nav ul li:hover {
    border-color: #0079D3; 
}


.notification {
    position: absolute;
    top: -32px;
    right: 83px;
    padding: 2px 3px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 0.4em;
    transition: 1s ease;
    opacity: 0;
}

.notificationactive {
    opacity: 1;
	top: -6px;
}

nav ul li:nth-of-type(1):before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 25px;
  background-size: 13px;
  background-image: url(images/blue-home.png);
  background-repeat: no-repeat;
  transition: 400ms ease;
}


nav ul li:nth-of-type(2):before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 25px;
  background-size: 13px;
  background-image: url(images/list.png);
  background-repeat: no-repeat;
  transition: 400ms ease;
}

nav ul li:nth-of-type(3):before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 25px;
  background-size: 13px;
  background-image: url(images/blue-avatar.png);
  background-repeat: no-repeat;
  transition: 400ms ease;
}

nav ul li:nth-of-type(4):before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 25px;
  background-size: 13px;
  background-image: url(images/web-log-in.png);
  background-repeat: no-repeat;
  transition: 400ms ease;
}


nav a {
    color: #0079D3;
    text-decoration: none;
    transition: 0.4s ease;
    font-size: 1em;
}


/***desktop formaat****/
/***Home pagina***/

#index .banner {
    width: 100%;
    height: 24em;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
#index h1 {
    background: rgba(0, 48, 130, .8);
    padding: 2rem;
    box-shadow: 0 2px 0 0 rgba(7, 7, 33, .15);
    width: 50%;
    color: #FFFFFF;
    transform: translateY(-200%);
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}

#index section:nth-of-type(1) h1 a {
    color: #fff;
    font-weight: bold;
}

#index section:nth-of-type(1) h1 a:visited {
    color: #fff;
    font-weight: bold;
}


#showfilterbutton {
    background-color: #0079d3;
    border: none;
    color: #FFF;
    box-shadow: 0 -0.125rem 0 #005ca0 inset;
    padding: .625rem 2.125rem;
    font-size: 1.1em;
    margin-left: 9.4em;
	transition: 400ms cubic-bezier(0.49, 0.11, 0.07, 0.99);
	display: none;
}

#showfilterbutton:hover {
    background-color: rgb(0, 48, 130);
    box-shadow: 0 -0.125rem 0 #0b3f65 inset;
}



#index form {
	background-color: #fec718;
    width: 50%;
    margin: 0 auto;
	position:relative;
	transform: translateY(-45%);
	height: 16em;
}

#index fieldset {
    border: none;
    display: inline-block;
    padding-top: 3.4em;
    margin-left: 3em;
    margin-top: 2em;
}

#index form legend {
    font-size: 1.5em;
    font-weight: 500;
	position: absolute;
    top: 1em;
    left: 2.3em;
    right: 0;
}

#index section label {
    display: block;
    font-size: 0.9em;
    font-weight: 600;
}

#index form input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    border: 2px solid #000;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 10px;
    height: 14px;
    margin-right: 1em;
	transition: 600ms ease;
}

#index form input[type="checkbox"]:focus {
	background-color: #000;
}

#index form input[type="checkbox"]:checked {
	background-color: #000;
}


#index form button {
    color: white;
    font-size: 1em;
    border: none;
    background-color: rgb(2, 50, 132);
    padding: 5px 20px;
    text-decoration: none;
    margin-left: 6rem;
	cursor: pointer;
}

/***code overzichtspagina sectie 1***/
#index section:nth-of-type(2) {
    display: flex;
	margin-bottom: 3em;
	margin-top: 2em;
}



#index article {
    background-color: #FFFFFF;
	box-shadow: 0 2px 0 0 rgba(7, 7, 33, .15);
    margin-top: 1em;
    width: calc(33% - 2em);
    margin: 0 auto;
	position: relative;
	overflow: hidden;
	height: 20em;
}

#index section:nth-of-type(2) img {
    width: 100%;
    height: 10.4em;
    object-fit: cover;
    margin-top: -5.2em;
    position: relative;
    z-index: 0;
	filter: brightness(50%);
}


#index button.download:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 22px;
    background-size: 20px;
    background-image: url(images/download-arrow.png);
    background-repeat: no-repeat;
    margin-right: 5px;
}



#index button.download:active:before {
    background-image: url(images/tick.png);
}

#index button.download:active {
	border-radius: 1em;
    background-size: 1em;
    background-repeat: no-repeat;
    transform: scale(0.8);
}



#index button.download {
    color: #060922;
    background: #FFC917;
    position: absolute;
    border: none;
    padding: 1rem;
    font-size: 0;
    z-index: 1;
    right: 20px;
    top: 5px;
    transition: all .2s ease-in-out;;
}

#index h2{
    text-align: left;
    color: #023284;
    font-size: 2.375em;
    padding-left: 0.5em;
}

#index article p span:nth-of-type(1):before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 30px;
  background-size: 20px;
  background-image: url(images/blue-heart.png);
  background-repeat: no-repeat;
  margin-right: 0;
  transition: all .2s ease-in-out;
}

#index article p span:nth-of-type(1):active:before {
    transform: scale(1.1);
}

#index article p span:nth-of-type(1) {
    margin-left: 2.7em;
}


#index article p span:nth-of-type(2):before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 30px;
  background-size: 20px;
  background-image: url(images/open-book-top-view.png);
  background-repeat: no-repeat;
  margin-right: 0;
}


#index article p span:nth-of-type(2) {
    margin-left: 8em;
}

#index h3 {
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    font-size: 1.375em;
    z-index: 1;
    position: relative;
	padding-left: 2em;
	padding-top: 1em;
	max-width: 11em;
}

#index article p:nth-of-type(1) {
    margin: 0;
}

#index article p:nth-of-type(2) {
    font-weight: 200;
    padding: 0em 1em 1em 1em;
    margin: 1.25rem 0 1.25rem 0;
}

#index article a:hover:before {
    width: 25px;
	color: #023284;
}

#index article a:before {
  content: '>';
  display: inline-block;
  height: 22px;
  width: 30px;
  transition: 600ms ease;
}

#index article a:hover {
    color: #023284;
}

#index article a {
    text-decoration: none;
    color: #0079D3;
    padding: 0.6em 0.6em 0.6em 1.3em;
	transition: 600ms ease;
}


/***code overzichtspagina sectie 2***/
#index section:nth-of-type(3) {
    display: flex;
	margin-bottom: 4em;
	margin-top: 2em;
}

#index section:nth-of-type(3) img {
    width: 100%;
    height: 10.4em;
    object-fit: cover;
    margin-top: -5.3em;
    position: relative;
    z-index: 0;
    filter: brightness(50%);
}

#leeslijst article p:nth-of-type(1) {
    margin: 0;
}

#index article p:nth-of-type(2) {
    font-weight: 200;
    padding: 1em 1em 1em 2.8em;
    margin: 1.25rem 0 1.25rem 0;
}

#index article a:hover:before {
    width: 25px;
}

#index article a:before {
  content: '>';
  display: inline-block;
  height: 22px;
  width: 30px;
  transition: 600ms ease;
}


/**************Code voor Leeslijst pagina**********/

#leeslijst section:nth-of-type(1) {
    z-index: 0;
	padding-top: 3.8em;
    position: relative;
	text-align: center;
}


#leeslijst section:nth-of-type(1) img {
    width: 100%;
    height: 24em;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

#leeslijst h1 {
    color: #003082;
    margin: 1em 0 1em 0;
	font-size: 2.75em;
}

#showverhaalbutton {
    background-color: #0079d3;
    border: none;
    color: #FFF;
    box-shadow: 0 -0.125rem 0 #005ca0 inset;
    padding: .625rem 2.125rem;
    font-size: 1.1em;
	transition: 400ms cubic-bezier(0.49, 0.11, 0.07, 0.99);
}

#leeslijst form[action="articlezien"].showarticle {
    max-height: 0;
    overflow: hidden;
    transition: 1s cubic-bezier(0.53, 0.53, 0.65, 0.51);
}

#leeslijst form[action="articlezien"].showarticleactive {
    max-height: 40em;
    margin: 4em 0 4em 0;
    position: relative;
}


#leeslijst article {
    background-color: #FFFFFF;
	box-shadow: 0 2px 0 0 rgba(7, 7, 33, .15);
    margin-top: 1em;
    width: calc(33% - (1em));
    margin: 0 auto;
	position: relative;
	height: 20em;
}

#leeslijst form h3 {
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.875em;
    z-index: 1;
    position: relative;
	padding-left: 2em;
    padding-top: 1em;
}

#leeslijst form h3:after {
    content: '';
    display: inline-block;
    height: 22px;
    width: 30px;
    background-size: 25px;
    background-image: url(images/white-check.png);
    background-repeat: no-repeat;
    margin-right: 5px;
    position: absolute;
    right: 25px;
}

#leeslijst form article img {
    width: 100%;
    height: 10.4em;
    object-fit: cover;
    margin-top: -5.3em;
    position: relative;
    z-index: 0;
	filter: brightness(50%);
}

#leeslijst article p span:nth-of-type(1):before {
  content: '';
  display: inline-block;
  height: 22px;
  width: 30px;
  background-size: 25px;
  background-image: url(images/blue-heart.png);
  background-repeat: no-repeat;
  margin-right: 5px;
}

#leeslijst article p span:nth-of-type(1) {
    margin-left: 2.7em;
}


#leeslijst article p span:nth-of-type(2):before {
  content: '';
  display: inline-block;
  height: 22px;
  width: 30px;
  background-size: 25px;
  background-image: url(images/open-book-top-view.png);
  background-repeat: no-repeat;
  margin-right: 5px;
}


#leeslijst article p span:nth-of-type(2) {
    margin-left: 8em;
}

#leeslijst article p:nth-of-type(2) {
    font-weight: 200;
    padding: 0em 1em 1em 1em;
    margin: 1.25rem 0 1.25rem 0;
}


#leeslijst article a:hover:before {
    width: 25px;
}

#leeslijst article a:before {
  content: '>';
  display: inline-block;
  height: 22px;
  width: 30px;
  transition: 600ms ease;
}

#leeslijst article a {
    text-decoration: none;
    color: #0079D3;
    padding: 0.6em;
}

/******CSS voor de inlog pagina********/
#inlog main {
    margin: 0 auto;
    padding: 8em 0 2em;
    display: block;;
}

#inlog section {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 75em;
    margin: 0 auto;
}

#inlog h1 {
    color: #003082;
    font-weight: normal;
    font-size: 2em;
}

#inlog article {
    width: 36em;
	padding: 1rem;
}


#inlog form {
    background-color: #ffc917;
	color: #003082;
	margin-top: 3em;
}

#inlog fieldset {
    border: none;
    display: grid;
    padding: 2em 1em 2em 2em;
}
#inlog fieldset legend {
    font-size: 1.5em;
	padding-top: 1em;
}

#inlog form label {
    margin-top: 1.1rem;
}

#inlog form label:nth-of-type(2) {
    margin-bottom: 1.1rem;
}

#inlog form input[type="email"]:invalid {
    border-color: #ec1919;
}

#inlog form input[type="email"]:valid {
  background-color: #27db15;
}

#inlog form input[type="email"] {
    margin-left: 9em;
	border: transparent;
	padding: 1em 2em 0.5em;
	transition: 1s ease;
}

#inlog form input[type="password"]:invalid {
  border-color: #ec1919;
}

#inlog form input[type="password"]:valid {
  background-color: #27db15;
}


#inlog form input[type="password"]{
    margin-left: 5.6em;
	border: transparent;
	padding: 1em 2em 0.5em;
	transition: 1s ease;
}

#inlog form input[type="submit"] {
    background-color: #0079d3;
    border: none;
    color: #FFF;
    box-shadow: 0 -0.125rem 0 #005ca0 inset;
    padding: .625rem 2.125rem;
    font-size: 1.1em;
    margin-left: 9.4em;
	transition: 400ms cubic-bezier(0.49, 0.11, 0.07, 0.99);
}

#inlog form input[type="submit"]:hover {
    background-color: #005ca0;
    box-shadow: 0 -0.125rem 0 #005ca0 inset;
}

#inlog form input[type="submit"]:focus {
    outline: thin dotted #0079d3
}

#inlog form a:hover:before {
    content: "";
    position: absolute;
    left: 10.8em;
    bottom: 0;
    width: 30%;
    border-bottom: 1px solid #003082;
}

#inlog form a {
    text-align: center;
    position: relative;
    margin-top: 1em;
    text-decoration: none;
    color: #003082;
}

#inlog form a:visited {
    color: #003082;
}

#inlog article:nth-of-type(2) {
    margin-top: 6.8em;
}

#inlog article:nth-of-type(2) h2 {
    font-weight: normal;
    color: #003082;
}

#inlog article:nth-of-type(2) ul {
  list-style-type: none;
}

#inlog article:nth-of-type(2) ul li {
    line-height: 3em;
    margin-left: -2em;
}

#inlog article:nth-of-type(2) ul li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
   background-size: 10px;
  background-image: url(images/tick.png);
  background-repeat: no-repeat;
  margin-right: 5px;
}


#inlog article:nth-of-type(2) a:hover:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #003082;
}

#inlog article:nth-of-type(2) a {
    text-align: center;
    position: relative;
    margin-top: 1em;
    text-decoration: none;
    color: #003082;
}

#inlog article:nth-of-type(2) a:visited {
    color: #003082;
}


/**************Code voor Verhaal Moe**********/

#moe {
    background-image: linear-gradient(rgba(255,0,0,0), rgba(0, 208, 255, 0.38));
}

#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 90px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */


@keyframes animateCloud {
    0% {
        margin-left: -1000px;
		opacity:1;
    }
    100% {
        margin-left: 100%;
		margin-top: 250px;
		opacity:0;
    }
}

/* ANIMATIONS */

.x1 {
	animation: animateCloud 35s linear infinite;
	transform: scale(0.65);
}

.x2 {
	animation: animateCloud 30s linear infinite;
	transform: scale(0.3);
}

.x3 {
	animation: animateCloud 30s linear infinite;
	transform: scale(0.5);
}

.x4 {
	animation: animateCloud 28s linear infinite;
	transform: scale(0.4);
}

.x5 {
	animation: animateCloud 30s linear infinite;	
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	border-radius: 100px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	border-radius: 100px;
    content: 'MOE';
	font-size: 2em;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

#moe section:nth-of-type(1) {
    text-align: right;
	position: relative;
	overflow: hidden;
}


#moe section:nth-of-type(2){
    position: relative;
    margin: 15em 1em 1em 6em;
}

#moe section:nth-of-type(2) p:hover {
    transform: scale(1.1);
	line-height: 3em;
	opacity: 1;
	margin-left: 26em;
}

#moe section:nth-of-type(2) p {
    font-weight: bold;
    width: calc(33% + 2em);
    transition: 4s cubic-bezier(0.34, 0.07, 0.59, 2.05);
    line-height: 2em;
	opacity: 0.3;
	margin-left: 0;
 }
 
 #moe section:nth-of-type(3){
     position: relative;
     margin: 10em 1em 20em 1em;
 }
 

#moe section:nth-of-type(3) p {
 color: #FFF;
 font-weight: bold;
 width: calc(33% + 2em);
 margin: 0 auto;
 transition: 4s cubic-bezier(0.34, 0.07, 0.59, 2.05);
 line-height: 2em;
 opacity: 0.3;
 margin-right: 3em;
 }
 
 #moe section:nth-of-type(3) p:hover {
    transform: scale(1.1);
	line-height: 3em;
	opacity: 1;
	margin-right: 16em;
}

 #moe section:nth-of-type(4){
     position: relative;
     margin: 7em 1em 20em 6em;
 }
 
 
 #moe section:nth-of-type(4) p {
  font-weight: bold;
  width: calc(33% + 2em);
  transition: 4s cubic-bezier(0.34, 0.07, 0.59, 2.05);
  line-height: 2em;
  opacity: 0.3;
  margin-left: 0;
  }
  
   #moe section:nth-of-type(4) p:hover {
    transform: scale(1.1);
	line-height: 3em;
	opacity: 1;
	margin-left: 26em;
}
 
 #moe section:nth-of-type(5) {
    position: relative;
    margin: 7em 1em 10em 1em;
}

 
 #moe section:nth-of-type(5) p {
 color: #FFF;
 font-weight: bold;
 width: calc(33% + 2em);
 margin: 0 auto;
 transition: 4s cubic-bezier(0.34, 0.07, 0.72, 1.68);
 line-height: 2em;
 opacity: 0.3;
 margin-right: 3em;
 }
 
 #moe section:nth-of-type(5) p:hover {
    transform: scale(1.1);
	line-height: 4em;
	opacity: 1;
	margin-right: 16em;
}

/**Footer op de inlogpagina gestyled zodat het beneden van de pagina blijft staan**/
#inlog footer {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

}

footer {
    background-color: #FFFFFF;
	padding: 1.4em 1em;
	width: 100%;
}


footer p {
    margin-left: 7.2em;
}

/*****TABLET******/

@media (max-width: 55em) {

nav ul {
    padding-left: 0;
	flex-wrap: nowrap;
}

nav ul li {
   margin-right: 0;
}

#index form {
    width: calc(60% + 1em);
}

#index form button {
    margin-left: 15em;
    margin-top: 1em;
}

#index h2 {
    font-size: 2.3em;
    padding-left: 1.1em;
}

#index section:nth-of-type(2) {
    flex-direction: column;
    display: flex;
}

#index article {
    background-color: #FFFFFF;
    margin-top: 1em;
    width: calc(70% + 2em);
    margin-left: auto;
    margin-right: auto;
}

#index article p span:nth-of-type(1) {
    margin-left: 2em;
}

#index article p span:nth-of-type(2) {
    margin-left: 4em;
}

/*code overzichtspagina sectie 2*/
#index section:nth-of-type(3) {
    flex-direction: column;
    display: flex;
	margin-bottom: 2em;
}

#index section:nth-of-type(3) img{
    width: 100%;
}

/**CSS voor de leeslijst pagina**/
#leeslijst article {
    width: calc(80% - 1em);
}

/**CSS voor verhaal Moe**/
#moe section:nth-of-type(2) p {
    width: calc(60% + 2em);
}

#moe section:nth-of-type(3) p {
    width: calc(60% + 2em);
}

#moe section:nth-of-type(3) img {
    width: 68%;
    height: 26em;
    left: 7em;
    bottom: -6em;
}

#moe section:nth-of-type(4) p {
    width: calc(60% + 2em);
}

#moe section:nth-of-type(4) img {
    width: 85%;
    height: 33em;
    left: -8em;
    bottom: -6em;
}

#moe section:nth-of-type(5) p {
    width: calc(60% + 2em);
}

#moe section:nth-of-type(5) img {
    width: 100%;
    height: 40em;
    left: 0em;
    bottom: -8em;
}

/**CSS voor inlog pagina op tablet versie**/
#inlog main {
    margin: 0 auto;
    padding: 3.8em 0em 0em;
    display: block;
}

#inlog section {
    flex-direction: column;
    width: calc(100% + 2em);
}

#inlog article {
    width: calc(100% + 0em);
	height: 32em;
}

#inlog article:nth-of-type(2) {
    margin-top: 1.8em;
}

#inlog footer {
    position: relative;
}

}

/*****MOBILE******/

@media (max-width: 30em) {

/*CSS voor de navigatie*/

nav ul li {
    margin-left: 0.5rem;
    margin-right: 0;
}

/*code voor op de filter op de overzichts pagina*/

#index form {
    width: calc(100% + 1em);
}


#index section:nth-of-type(1) img {
    width: 100%;
    height: 8em;
}

#index h1 {
    text-align: center;
	width: 90%;
}

#showfilterbutton {
	display: block;
	margin: 0 auto;
}

#index form[action=""].showfilter {
    max-height: 0;
    overflow: hidden;
    transition: 1s cubic-bezier(0.53, 0.53, 0.65, 0.51);
}

#index form[action=""].showfilteractive {
    max-height: 40em;
    margin-top: 1rem;
    position: relative;
}

#index fieldset {
    background-color: #fec718;
    border: none;
}

#index fieldset legend {
    font-weight: bold;
    font-size: 1.3em;
}

#index section label {
    display: block;
    font-size: 0.9em;
    font-weight: 600;
}


#index form button {
    margin-left: 3rem;
}

/*code overzichtspagina sectie 1*/
#index section:nth-of-type(2) {
    flex-direction: column;
    display: flex;
}

#index article {
    background-color: #FFFFFF;
    margin-top: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#index h3 {
    font-size: 1em;
}


/*code overzichtspagina sectie 2*/
#index section:nth-of-type(3) {
    flex-direction: column;
    display: flex;
	margin-bottom: 2em;
}

#index section:nth-of-type(3) img{
    width: 100%;
}

/*CSS voor Leeslijst pagina*/

#leeslijst h1 {
    font-size: 1.75em;
}

#leeslijst article {
    width: calc(100% - (1em));
}

/*CSS voor verhaal Moe*/

#moe section:nth-of-type(2) {
    position: relative;
    margin: 1em 2.1em 1em 2.1em;
}

#moe section:nth-of-type(2) p {
    width: calc(100% + 0em);
}

#moe section:nth-of-type(2) p:hover {
    margin-left: 0;
}



#moe section:nth-of-type(3) p {
    width: calc(100% + 0em);
}

#moe section:nth-of-type(3) p:hover {
    margin-left: 0;
}

#moe section:nth-of-type(4) {
    margin: 7em 0.2em 20em 1.2em;
}

#moe section:nth-of-type(4) p {
    width: calc(100% + 0em);
}

#moe section:nth-of-type(4) p:hover {
    margin-left: 0;
}

#moe section:nth-of-type(5) p {
    width: calc(100% + 0em);
}

#moe section:nth-of-type(5) p:hover {
    margin-left: 0;
}

/*CSS voor de responsive inlog pagina*/

#inlog h1 {
    font-size: 1.5em;
}

#inlog fieldset legend {
    font-size: 1.7em;
}

#inlog form input[type="email"] {
    margin-left: 5.5em;
}

#inlog form input[type="submit"] {
    margin: 0 auto;
}

#inlog footer {
    position: relative;
}

}

